@page
@model TaskManagementSystem.Pages.QuotesModel
@{
    ViewData["Title"] = "Quotes";
}

<h1>Task Management System</h1>

<a href="/Quotes/Create" class="btn btn-success float-end">
    <i class="fa fa-plus"></i> Add Task
</a>


<table  id="quotesTable" class="display">
    <thead>
        <tr>
            <th>No.</th>
            <th>Quote Type</th>
            <th>Description</th>
            <th>Sales</th>
            <th>Due Date</th>
            <th>Premium</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var quote in Model.Quotes)
        {
            <tr>
                <td>@quote.Id</td>
                <td>@quote.QuoteType</td>
                <td>@quote.Description</td>
                <td>@quote.Sales</td>
                <td>@quote.DueDate.ToShortDateString()</td>
                <td>@quote.Premium.ToString("C")</td>
                <td>
                    <button class="btn btn-sm btn-info"><i class="fa fa-eye"></i></button>
                    <button class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#quotesTable').DataTable({
            "paging": true,
            "searching": true,
            "ordering": true,
            "info": true
        });
    });
    </script>